# Visual Studio files
*.suo
*proj.user

# Build files
*[Oo]bj/
*[Bb]in/

*.mak
*.inc
*.lib
*.ilk
*.exp

*.pdb
*.obj
*.ipch
*.idb
*.sdf
*.opensdf
*.res
*.manifest
*.lastbuildstate
*.pch
*.rc

# Various
[Tt]emp

*.dmp
*.log
*.tlog

userSpecificData.xml

USER
Editor/EditorLayout.xml
Editor/EditorEventLog.xml

# Art source files
*.tga
*.tif
*.max
*.obj
*.psd
*.bmp
*.bak
*.bak2

# Temporarily removed Bin64 until we've got it working again, don't want people assuming that the build is broken.
Bin64/

user.cfg